.fileManager {
    margin: 0 0 15px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fileManager span {font-family: helvetica, arial, swiss, verdana; padding: 1px 3px; border-radius: 3px}
a {color: #eee; text-decoration: none; cursor: pointer}
.fileManager .pft-directory, .fileManager .pft-file {list-style-image: url("/assets/css/images/blank.gif")}
.fileManager ul, .fileManager li  {margin-left: 25px; white-space: nowrap}

/* Default file */
.pft-file:before {
    position: absolute; width: 16px; height: 16px; content: "";
 margin-top: -2px; margin-left: -20px; background:url('/assets/img/file-folder-icons.png') no-repeat 0 0;color: #eee;
}
.fileManager LI.dirOpen:before {background-position: -16px 0}
.fileManager LI.pft-file:before {background-position: -32px 0}
