.container {
    display: flex; /* or inline-flex */
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1 100%;
    width: 100vw;
    padding: 10px;
}
  
#file-explorer { 
    height: 95vh;
    color: red;
}

#tabs { 
    flex-flow: row-reverse wrap;
    height: 10vh;
    width: 100%;
    color: red;
}
#editor { 
    height: 90vh;
    width: 60vw;
    color: red;
}

.second { 
    height: 100vh;
    width: 100%;
    color: green;
}
